*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body,html,#app{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
%juzhong{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    height: 44px;
    @extend %juzhong;
}

.main{
    flex: 1;
    overflow: auto;
}
.shopcar {
    display: flex;
  }
  .shopcar-left {
    flex: 1;
    @extend %juzhong;
  }
  .shopcar-mid {
    flex: 2;
  }
  .shopcar-mid img {
    width: 70px;
    height: 70px;
  }
  .shopcar-right {
    flex: 7;
    display: flex;
    .shopcar-right-l{
        flex: 7;
        font-size: 14px;
    }
    .shopcar-right-r{
        flex: 3;
        @extend %juzhong;
        span{
            display: inline-block;
            width: 20px;
            height: 20px;
            border:1px solid #ccc;
            margin-left: 5px;
            text-align: center;
            line-height: 20px;
        }
    }
  }
.footer{
    height: 44px;
    @extend %juzhong;
}
.dl{
    display: flex;
    dt{
        flex: 4;
        @extend %juzhong;
        img{
            width: 120px;
            height: 120px;
        }
    }
    dd{
        flex: 6;
    }
}